---
layout: page
title: Fotos
permalink: /photos/
description: "ENTER HERE"
---

<ul class="gallery-list">
  {% for gallery in site.galleries %}
    <li class="gallery-item">
      <a href="{{ gallery.permalink | prepend: site.baseurl }}">
        {% assign first_photo = gallery.photos.items | first %}
        {% if first_photo %}
          <img 
            src="{{ site.baseurl }}/assets/photos/{{ gallery.photos.set }}/{{ first_photo.file }}" 
            alt="{{ first_photo.description | default: 'Primera foto de ' | append: gallery.title }}" 
            class="gallery-thumbnail"
          />
          <span class="gallery-item-title">{{ gallery.title }}</span>
          
          {% comment %} Extraer fecha del nombre del archivo {% endcomment %}
          {% assign filename = gallery.name | split: '.' | first %}
          {% assign date_parts = filename | split: '-' %}
          
          {% if date_parts.size >= 3 %}
            {% assign year = date_parts[0] %}
            {% assign month = date_parts[1] %}
            {% assign day = date_parts[2] %}
            {% assign formatted_date = year | append: '-' | append: month | append: '-' | append: day %}
          {% endif %}
          
          {% if formatted_date %}
            <time datetime="{{ formatted_date }}">
              {{ formatted_date | date: "%b %d, %Y" }}
            </time>
          {% endif %}
          
        {% else %}
          <span class="gallery-no-image">No hay imágenes disponibles</span>
        {% endif %}
      </a>
    </li>
  {% endfor %}
</ul>