<p class="site-nav">
<a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">Sobre mí</a> / 
<a href="{{ '/photos' | prepend: site.baseurl | prepend: site.url }}">Fotos</a> / 
<a href="https://nahumgarcia.bandcamp.com">Bandcamp</a> / 
<a href="{{ '/categories' | prepend: site.baseurl | prepend: site.url }}">Categorías</a> /
<a href="{{ '/tagged' | prepend: site.baseurl | prepend: site.url }}">Etiquetas</a> /
<a href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">RSS</a>
</p>
