/**
 * Reset some basic elements
 */
blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
ul {
    margin: 0;
    padding: 0;
}
/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: var(--text-color);
    background-color: var(--bg-color);
    overflow-x: clip;

    @media screen and (min-width: 601px) {
        font-size: 20px;
    }
}
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
%vertical-rhythm,
blockquote,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
table,
ul {
    margin-bottom: $spacing-unit / 2;
}
/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}
/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}
/**
 * Lists
 */
ol,
ul {
    margin-left: $spacing-unit;
}

li {
     > ol,
    > ul {
        margin-bottom: 0;
    }
}
/**
 * Headings
 */
h1,
h2,
h3 {
    font-weight: 600;
}

h4,
h5,
h6 {
    font-weight: $base-font-weight;
}

strong, b {
    font-weight: 700;
}
/**
 * Links
 */
a {
    color: var(--link-color);
    text-decoration: underline;
    transition: color 0.2s ease;

    @media (hover: hover) {
        &:hover {
            text-decoration: underline;
            color: var(--hover-color);
        }
    }
}
/**
 * Blockquotes
 */
blockquote {
    position: relative;
    color: var(--text-color);
    padding: 0 0 0 32px;
    font-style: normal;
    font-size: 1.05em;

    &::before {
        content: '\201C';
        position: absolute;
        left: 0;
        top: 0;
        font-family: Georgia, 'Times New Roman', serif;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1;
        color: var(--grey);
    }

    p {
        margin-bottom: 16px;
    }

    > :last-child {
        margin-bottom: 0;

        &::after {
            content: '\201D';
        }
    }
}
/**
 * Code formatting
 */
code,
pre {
    background-color: var(--code-bg);
}

code {
    padding: 0 8px;
    font-family: $code-font-family;
    color: var(--code-color);
}

pre {
    padding: 8px 16px;
    overflow-x: auto;
    border: 1px solid var(--code-border);

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
        tab-size: 4;
        color: inherit;
    }
}
/**
 * Table
 */
table {
    width: 100%;
    max-width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
}

td,
th {
    padding: 0.5rem;
    line-height: inherit;
}

th {
    text-align: left;
    vertical-align: bottom;
    border-bottom: 2px solid var(--grey-light);
}

td {
    vertical-align: top;
    border-bottom: 1px solid var(--grey-light);
}
/**
 * Horizontal rule
 */
hr {
    border: none;
    border-top: 1px solid var(--grey-light);
    margin: $spacing-unit auto;
}
/**
 * Clearfix
 */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
