---
layout: default
title: Álbumes
permalink: /fotos/albums/
description: "Todos los álbumes de fotos"
---

<nav class="photos-submenu">
  <a href="{{ site.baseurl }}/fotos/">Publicaciones</a>
  <a href="{{ site.baseurl }}/fotos/albums/" class="submenu-active">Álbumes</a>
</nav>

<ul class="gallery-list">
  {% assign sorted_albums = site.photoalbums | sort: "date" | reverse %}
  {% for album in sorted_albums %}
    <li class="gallery-item">
      <a href="{{ album.url | prepend: site.baseurl }}">
        {% if album.cover_photo %}
          <img
            src="{{ site.baseurl }}/assets/photos/{{ album.cover_photo }}"
            alt="{{ album.title }}"
            class="gallery-thumbnail"
            loading="lazy"
          />
          <span class="gallery-item-title">{{ album.title }}</span>
        {% else %}
          <span class="gallery-no-image">{{ album.title }}</span>
        {% endif %}
      </a>
    </li>
  {% endfor %}
</ul>
