---
layout: default
title: Categorías
permalink: /categories/
---

<div class="home">
	<section>
		<h2 class="tag-title">Categorías</h2>
	</section>

	<section>
    {% for tag in site.categories %}
    <h2 class="tag-title" id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
    <ul class="post-list">
      {% for post in tag[1] %}
        <a class="" href="{{ site.baseurl }}{{ post.url }}">
      <li>
        {{ post.title }},
      <time>{{ post.date | date_to_string }}</time>
      </li>
      </a>
      {% endfor %}
    </ul>
    {% endfor %}
	</section>

</div>
