---
layout: default
---
<div class="album-page">
  <header class="album-header">
    <h1 class="album-title">{{ page.title }}</h1>
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %d, %Y" }}</time>
  </header>

  {% if page.content != "" %}
  <div class="album-description">
    {{ content }}
  </div>
  {% endif %}

  <div class="album-grid">
    {% assign album_posts = site.photos | where_exp: "item", "item.albums contains page.slug" | sort: "date" | reverse %}
    {% for post in album_posts %}
      {% for photo in post.photos %}
      <a href="#" class="album-grid-photo" data-full="{{ site.baseurl }}/assets/photos/{{ photo.file }}" data-alt="{{ photo.alt | default: photo.file }}">
        <img
          src="{{ site.baseurl }}/assets/photos/{{ photo.file }}"
          alt="{{ photo.alt | default: photo.file }}"
          loading="lazy"
        >
      </a>
      {% endfor %}
    {% endfor %}
  </div>
</div>

{% include lightbox.html selector=".album-grid" photo_selector=".album-grid-photo" %}
