---
layout: default
---
<div class="album-page">
  <header class="album-header">
    <h1 class="album-title">{{ page.title }}</h1>
  </header>

  {% if page.content != "" %}
  <div class="album-description">
    {{ content }}
  </div>
  {% endif %}

  <div class="album-grid">
    {% assign album_posts = site.photos | where_exp: "item", "item.albums contains page.slug" | sort: "date" | reverse %}
    {% for post in album_posts %}
      {% for photo in post.photos %}
      {%- assign photo_src = photo.file -%}
      {%- unless photo_src contains "/" -%}{% assign photo_src = "/assets/photos/" | append: photo_src %}{%- endunless -%}
      <a href="#" class="album-grid-photo" data-full="{{ site.baseurl }}{{ photo_src }}" data-alt="{{ photo.alt | default: photo.file }}">
        <img
          src="{{ site.baseurl }}{{ photo_src }}"
          alt="{{ photo.alt | default: photo.file }}"
          loading="lazy"
        >
      </a>
      {% endfor %}
    {% endfor %}
  </div>
</div>

{% include lightbox.html selector=".album-grid" photo_selector=".album-grid-photo" %}
