---
layout: default
---
<article class="photo-post">
  {%- assign photo_src = page.file -%}
  {%- unless photo_src contains "/" -%}{% assign photo_src = "/assets/photos/" | append: photo_src %}{%- endunless -%}
  <a href="#" class="photo-post-image" data-full="{{ site.baseurl }}{{ photo_src }}" data-alt="{{ page.title | default: '' }}">
    <img
      src="{{ site.baseurl }}{{ photo_src }}"
      alt="{{ page.title | default: '' }}"
      loading="lazy"
    >
  </a>

  <div class="photo-post-meta">
    {% if page.title %}<h1 class="photo-post-title">{{ page.title }}</h1>{% endif %}
    <div class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">{% include fecha.html date=page.date %}</time>{% if page.tags.size > 0 %}<span class="post-meta-sep">-</span><span class="post-meta-tags">{% for tag in page.tags %}<a href="{{ site.baseurl }}/fotos/album/{{ tag | slugify: "latin" }}/">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>{% endif %}
    </div>
  </div>

  {% if page.content != "" %}
  <div class="photo-post-caption">
    {{ content }}
  </div>
  {% endif %}
</article>

{% include lightbox.html selector=".photo-post" photo_selector=".photo-post-image" %}
