---
layout: default
---
<div class="home">
  <h1 class="post-title tag-page-title">
    <span class="tag-page-prefix">Tema:</span> {{ page.tag }}
  </h1>

  {% assign count = page.tag_posts | size %}
  <p class="tag-page-count">{{ count }} escrito{% if count != 1 %}s{% endif %} sobre este tema</p>

  <section class="home-index">
    {% for post in page.tag_posts %}
    <article class="home-index-item">
      <div class="home-index-heading">
        <a href="{{ post.url | prepend: site.baseurl }}" class="home-index-link">
          <h2 class="home-index-title">{{ post.title }}</h2>
        </a>
        <time datetime="{{ post.date | date_to_xmlschema }}">{% include fecha.html date=post.date %}</time>
      </div>
    </article>
    {% endfor %}
  </section>
</div>
